  <form >
      <label class="form-control" for="email">
        <span> Email </span>
        <input type="email" id="email" name="email" class="form-control" />
      </label>

      <label class="form-control" for="password">
        <span> Password </span>
        <input type="password" id="password" name="password" class="form-control"  />
      </label>

      <label class="form-control checkbox" for="rememberMe">
        <input type="checkbox" id="rememberMe" name="rememberMe"  />
        <span>Remember me</span>
      </label>

      <button type="submit">Login</button>
    </form>
  